@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+IN:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwright+IN:wght@400;500;600;700&display=swap");

:root {
  font-family: DM sans, sans-serif;
  line-height: 1;
  font-weight: 400;
  /* background-image: url("assets/heroimg4.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absoulte;
    top: 0;
    bottom: 100px; */

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
